* {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    background-color: #f2f3f5;
}

#formLabel {
    width: 60px;
    padding-left: 4px !important;
    padding-right: 0 !important;
    margin-left: 4px !important;
    margin-right: 0 !important;
}


#iptBlock {
    margin-left: 80px;
}

#iptBlock button {
    margin-left: -72px;
}

#paging {
    display: flex !important;
    justify-content: center;
    margin-top: 15px;
}

#formPub {
    /* width: 1000px; */
    padding: 10px;
    margin: 15px;
}

/* 封面容器的样式 */
.cover-box {
    display: flex;
}

/* 左侧裁剪区域的样式 */
.cover-left {
    width: 400px;
    height: 280px;
    overflow: hidden;
    margin-right: 20px;
}

/* 右侧盒子的样式 */
.cover-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 预览区域的样式 */
.img-preview {
    width: 200px;
    height: 140px;
    background-color: #ccc;
    margin-bottom: 20px;
    overflow: hidden;
}